--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
jupyter-server-proxy
keplergl
localtileserver
nbserverproxy
owslib
streamlit==1.12.2
git+https://github.com/giswqs/leafmap
git+https://github.com/giswqs/geemap
